.containerRelative {
  position: relative;
  margin-top: 60px;
}

.title {
  color: #09212d;
  text-align: center;
}

.text {
  text-align: center;
  color: #09212d;
}

.button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  fill: #102e4f;
}

.icon:hover,
.icon:focus {
  fill: #2074b9;
}
