.userMenu {
  display: flex;
  align-items: center;
}
.user {
  font-size: 22px;
  text-decoration: none;

  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.button {
  padding: 5px;
  color: #6bc8ff;
  font-size: 15px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  background-color: #0f4581;
  transition: box-shadow 250ms linear;
}

.button:hover,
.button:focus {
  background-color: #081a29;
}
