.userMenu {
  display: flex;
  align-items: center;
}
.user {
  font-size: 22px;
  text-decoration: none;

  display: flex;
  align-items: baseline;
  margin-left: auto;
  color: #102e4f;
}

.button {
  background: none;
  border: none;
}

/* .button:hover,
.button:focus {
  background-color: #081a29;
} */

.icon {
  width: 30px;
  height: auto;
  color: #102e4f;
}

.icon:hover,
.icon:focus {
  color: #fff;
}
